<%= form_with model: @blog_post do |form| %>
<% if form.object.errors.any? %>
<div class="my-2">
    <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>
<% end %>
<div class="my-2">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="my-2">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
</div>

<div class="my-2">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
</div>

<%= form.button class: "my-3 p-2 rounded bg-blue-100 text-blue-900 hover:bg-blue-300" %>
<% end %>